/*Celulares*/
@media (min-width:300px) and (max-width:1224px) {
    .body_sede_container h2:first-child{
        align-self: center;
    }
    .body_sede_container{
        display: flex;
        flex-direction: column;
    }
    .body_sede_info_container{
        display: block;
    }

    .body_sede_img{
        width:50%; 
        height: 200px;
        background-image: url('/img/sos_front.JPG');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        /* -webkit-clip-path:polygon(0% 20%, 100% 0%,100% 100%,0% 80%); */
        clip-path:polygon(0% 0%, 100% 0%,80% 100%,0% 100%);
        shape-outside: polygon(0% 0%, 105% 0%,80% 100%,0% 100%);
        float: left;
    }
}
/*Computadoras*/
@media (min-width:1224px) {
    
}