/*Celulares*/
@media (min-width:300px) and (max-width:1224px) {
    .body_aliance_slide img{
        height: 50px;
        height: 100px;
        object-fit: scale-down;
        margin: 10px 0 10px 0;
    }
    .body_aliance_container{
        /* display:grid; */
        /* grid-template-columns: 1fr; */
        padding: 25px 15px 25px 15px;
        display: flex;
        flex-direction: column;
    }
    .body_aliance_container h2{
        align-self: center;
    }
}
/*Computadoras*/
@media (min-width:1224px) {
    
}